.po {
  &__training-week {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__view-toggle {
    list-style: none;
    padding-left: 0;
    li {
      margin-bottom: 5px;

      &.active {
        button {
          background: $blue_1;
          color: #fff;
        }
      }
    }
  }
}

.training-week-data {
  > div {
    display: flex;

    h4 {
      margin-right: 30px;
      color: $blue_1;
    }
  }
}
